<div class="nested-fields">
  <div class="row">
    <%= f.input :monday, label:'Lun.',input_html: {value: true},wrapper_html: { class: 'col-md-1' } %>
    <%= f.input :tuesday, label:'Mar.',wrapper_html: { class: 'col-md-1' } %>
    <%= f.input :wednesday, label:'Mié.',wrapper_html: { class: 'col-md-1' } %>
    <%= f.input :thursday, label:'Jue.',wrapper_html: { class: 'col-md-1' } %>
    <%= f.input :friday, label:'Vie.',wrapper_html: { class: 'col-md-1' } %>
    <%= f.input :saturday, label:'Sáb.',wrapper_html: { class: 'col-md-1' } %>
  </div>
</div>
